.floating-box {
    position: absolute;
    transition: box-shadow 0.3s ease;
    transition: outline-color 0.3s ease;
    min-width: 10px;
    min-height: 10px;
    padding: 5px;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    top: 0px;
    left: 0px;
    box-sizing: border-box;

    border-style: solid;
    border-width: calc(3px / var(--scale));
    border-color: rgba(255,255,255,0.2);
}

.floating-box.selected {
    box-shadow: 0em 0.0em calc(2.0em / var(--scale)) rgb(82, 206, 255);
    outline-color: rgb(0, 187, 255);
    outline-style: dashed;
    outline-width: calc(2px / var(--scale));
}

.floating-box.textSelected {
    box-shadow: 0em 0.0em calc(2.0em / var(--scale)) rgb(82, 206, 255);
    outline-color: rgb(0, 187, 255);
    outline-style: dashed;
    outline-width: calc(2px / var(--scale));
}

.floating-box.cascaded {
    box-shadow: 0em 0.0em calc(2.0em / var(--scale)) rgb(255, 128, 171);
    outline-color: rgb(255, 128, 171);
    outline-style: dashed;
    outline-width: calc(2px / var(--scale));
}

.floating-box .frame {
    position: absolute;
    left: calc(-11px / var(--scale));
    top: calc(-11px / var(--scale));
    width: calc(100% + 22px / var(--scale));
    height: calc(100% + 22px / var(--scale));
    visibility: hidden;
    z-index: 5;
}

.floating-box .frame .handle {
    height: calc(12px / var(--scale));
    width: calc(12px / var(--scale));
    border-radius: 50%;
    background-color: rgb(82, 206, 255);
    border-color: rgb(0, 187, 255);
    border-width: calc(1px / var(--scale));
    border-style: solid;
    visibility: visible;
}

.floating-box .frame .handle.uk-position-top-left {
    cursor: nw-resize;
}

.floating-box .frame .handle.uk-position-top-right {
    cursor: ne-resize;
}

.floating-box .frame .handle.uk-position-bottom-right {
    cursor: se-resize;
}

.floating-box .frame .handle.uk-position-bottom-left {
    cursor: sw-resize;
}

.floating-box .options {
    position: absolute;
    left: 0;
    top: calc(100% + 4px / var(--scale));
    transform: none;
}

.floating-box > textarea {
    height: 100%;
    width: 100%;
    padding: 0px;
    border: none;
    background-color: rgba(0,0,0,0);
    resize: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: subpixel-antialiased;
    transition: font-weight 0.2s ease, font-size 0.1s ease;
}

.floating-box > textarea.non-select {
    cursor: inherit;
}

.floating-box > textarea:active {
    outline: none;
}

.floating-box > textarea:focus {
    outline: none;
}

.floating-box > textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0,0,0,0.6);
}

.floating-box > textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0,0,0,0.6);
}

.floating-box > textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0,0,0,0.6);
}