<!DOCTYPE html>
<html>
    <head>

        <title>MAPI</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/css/uikit.min.css" />
        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit-icons.min.js"></script>

        <!-- Vue JS -->
        <!-- Vue: development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- Vue: production version, optimized for size and speed -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

        <!-- Our stuff -->
        <link rel="stylesheet" type="text/css" href="box.css">
        <link rel="stylesheet" type="text/css" href="editor.css">
        <!-- Merged from codeanywhere (for menu) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Comfortaa|Cutive+Mono|EB+Garamond|Lato|Long+Cang|Roboto|Roboto+Mono&display=swap" rel="stylesheet">

        <!-- Compression / encoding lib -->
        <script src="https://cdn.jsdelivr.net/npm/bytebuffer@5.0.1/dist/bytebuffer.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/pson@2.0.0/dist/PSON.min.js"></script>
        <script id="lzutf8" src="https://cdn.jsdelivr.net/npm/lzutf8/build/production/lzutf8.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/color-js/1.0.1/color.min.js" integrity="sha256-qAjuzGZ65rH+O8iRUmRdRCgk33HmM0Gbq15CwUsxW3k=" crossorigin="anonymous"></script>
    </head>
    <body>

        <div id="app">
            <div id="graph-canvas-background" v-bind:class="{ creatingNewBox: editingState.creatingBox }">
                <div id="graph-canvas">
                    <box
                        v-for="box in boxes"
                        v-bind:key="box.id"
                        v-bind:boxdata="box"
                        v-bind:editing-state="editingState"
                    />
                </div>
            </div>
            <!-- Navigation bar -->
            <nav class="uk-navbar-container non-select" id="navBar" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li><i class="material-icons" uk-toggle="target: #load-work">folder_open</i></li>
                    </ul>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav uk-flex uk-flex-center">
                        <li><a><i class="material-icons" v-on:click="undo">undo</i></a></li>
                        <li><a><i class="material-icons" v-on:click="redo">redo</i></a></li>
                        <!-- To bind a callback to an event, use v-on:event="callback" -->
                        <li>
                            <i
                                class="material-icons"
                                v-on:click="editingState.creatingBox = !editingState.creatingBox"
                                v-bind:class="{ toggled : editingState.creatingBox }"
                            >crop_5_4</i>
                        </li>
                        <li><i class="material-icons">photo_library</i></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav" v-if="editingState.selected">
                        <!-- Editing options -->
                        <li>
                            <a><i
                                class="material-icons"
                                v-on:click="deleteSelected"
                            >delete_outline</i></a>
                        </li>
                        <li>
                            <i class = "material-icons"
                            >photo_library</i>
                        </li>
                        <li>
                            <i class = "material-icons"
                            >layers</i>
                        </li>
                        <li>
                            <i
                                class="material-icons"
                                v-bind:class="{ toggled : editingState.selected.bold }"
                                v-on:click="editingState.selected.bold = !editingState.selected.bold"
                            >format_bold</i>
                        </li>
                        <li>
                            <i
                                class="material-icons"
                                v-bind:class="{ toggled : editingState.selected.italic }"
                                v-on:click="editingState.selected.italic = !editingState.selected.italic"
                            >format_italic</i>
                        </li>
                        <li>
                            <select class="uk-select navbar-selections" v-model="editingState.selected.font">
                                <option v-for="option in fontOptions" v-bind:value="option.value">
                                    {{ option.text }}
                                </option>
                            </select>
                        </li>
                        <li>
                            <select class="uk-select navbar-selections" v-model="editingState.selected.fontSize">
                                <option v-for="option in textSizeOptions" v-bind:value="option.value">
                                    {{ option.text }}
                                </option>
                            </select>
                        </li>
                        <li>
                            <i class="material-icons">format_color_fill_24px</i>
                            <!--This is the UIkit dropdown  -->
                            <div id="colorbar" class="uk-navbar-dropdown color-pallete">
                                <div>
                                    <button class="uk-button color-button" style="background-color: #FF8080;" v-on:click="changeColor"></button>
                                    <button class="uk-button color-button" style="background-color: #FFC580;" v-on:click="changeColor"></button>
                                    <button class="uk-button color-button" style="background-color: #FFE380;" v-on:click="changeColor"></button>
                                    <button class="uk-button color-button" style="background-color: #92FF80;" v-on:click="changeColor"></button>
                                    <button class="uk-button color-button" style="background-color: #80E1FF;" v-on:click="changeColor"></button>
                                    <button class="uk-button color-button" style="background-color: #8A80FF;" v-on:click="changeColor"></button>
                                    <button class="uk-button color-button" style="background-color: #ED80FF;" v-on:click="changeColor"></button>
                                    <button class="uk-button color-button" style="background-color: #FF80AB;" v-on:click="changeColor"></button>
                                </div>
                            </div>
                        </li>
                        <!-- Editing options -->
                    </ul>
                    <ul class="uk-navbar-nav">
                        <li><i class="material-icons" uk-toggle="target: #save-work" v-on:click="saveWork">save_alt</i></li>
                    </ul>
                </div>
            </nav>
            <!-- Navigation bar -->
            <!-- Saved works panel -->
            <div id="load-work" uk-offcanvas="overlay: true; mode: push">
                <div class="uk-offcanvas-bar uk-width-1-3">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                    <div class="uk-padding-small uk-padding-remove-horizontal">
                        <textarea class="uk-textarea uk-width-1-1 uk-margin-top" rows="7" v-model="loadData" placeholder="Paste the save file here"></textarea>
                        <button class="uk-button uk-button-danger uk-width-1-1 uk-margin-top" v-on:click="loadWork(loadData)">Load</button>
                    </div>
                </div>
            </div>
            <div id="save-work" uk-offcanvas="overlay: true; mode: slide; flip: true" v-on:shown="savePanelShown">
                <div class="uk-offcanvas-bar uk-width-1-3">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                    <div class="uk-margin">
                        <textarea class="uk-textarea" rows="7" id="save-work-field">{{ savedData }}</textarea>
                    </div>
                    <p>{{ saveFileStatus }}</p>
                </div>
            </div>
            <!-- Saved works panel -->
        </div>

        <script src="utility.js"></script>
        <script src="box.vue.js"></script>
        <script src="editor.js"></script>
    </body>
</html>
