html, body {
    height: 100%;
    margin: 0;
}

#graph-canvas {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    display: block;
    left: 0;
    top: 0;

    /* This produces the grid background */
    background-size: 32px 32px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.2) 1px, transparent 1px), linear-gradient(to bottom, rgba(0,0,0,0.2) 1px, transparent 1px);
}

.floating-box {
    z-index: 9;
    position: absolute;
}

/* Merged from codeanywhere */
.w3-top {
  background-color: #78909C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.center-shapes {
  width: 50%;
  margin: 0 auto;
  display: inline;
  top: 15px;
}

.center-shapes > a {
  padding: 8px;
}

.material-icons {
  color: white;
}

/* .material-icons:hover {
  color: #FF80AB;
} */

.clickedStyle{

   color: #FF80AB;
}
