html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#graph-canvas-background {
    /* This produces the grid background */
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    --bg-offset-x: 0;
    --bg-offset-y: 0;
    --scale: 1.0;
}

#graph-canvas {
    display: block;
    transform: perspective(1px) translate3d(var(--bg-offset-x), var(--bg-offset-y), 0) scale3d(var(--scale), var(--scale), 1.0);
    backface-visibility: hidden;
}

#graph-canvas-background:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* This produces the grid background */
    --bg-size: 32px;
    --bg-size-scaled: calc(var(--bg-size) * var(--scale));
    background-size: var(--bg-size-scaled) var(--bg-size-scaled);
    background-image: linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px), linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
    background-color: #FCFCFC;
    background-position: var(--bg-offset-x) var(--bg-offset-y);
}

.floating-box {
    position: absolute;
    transition: box-shadow 0.3s ease;
    transition: outline-color 0.3s ease;
    min-width: 10px;
    min-height: 10px;
    padding: 5px;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    top: 0px;
    left: 0px;
    outline-color: rgba(255, 255, 255, 0.2);
    outline-style: solid;
    outline-width: calc(4px / var(--scale));
}

.floating-box.selected {
    box-shadow: 0em 0.0em calc(2.0em / var(--scale)) rgb(82, 206, 255);
    outline-color: rgb(0, 187, 255);
    outline-style: dashed;
    outline-width: calc(2px / var(--scale));
}

.floating-box.textSelected {
    box-shadow: 0em 0.0em calc(2.0em / var(--scale)) rgb(82, 206, 255);
    outline-color: rgb(0, 187, 255);
    outline-style: dashed;
    outline-width: calc(2px / var(--scale));
}

.floating-box.cascaded {
    box-shadow: 0em 0.0em calc(2.0em / var(--cale)) rgb(255, 128, 171);
    outline-color: rgb(255, 128, 171);
    outline-style: dashed;
    outline-width: calc(2px / var(--scale));
}

.floating-box .frame {
    position: absolute;
    left: calc(-8px / var(--scale));
    top: calc(-8px / var(--scale));
    width: calc(100% + 16px / var(--scale));
    height: calc(100% + 16px / var(--scale));
    visibility: hidden;
}

.floating-box .frame .handle {
    height: calc(12px / var(--scale));
    width: calc(12px / var(--scale));
    border-radius: 50%;
    background-color: rgb(82, 206, 255);
    border-color: rgb(0, 187, 255);
    border-width: calc(1px / var(--scale));
    border-style: solid;
    visibility: visible;
}

.floating-box .options {
    position: absolute;
    left: 0;
    top: calc(100% + 4px / var(--scale));
    transform: none;
}

.floating-box > textarea {
    height: 100%;
    width: 100%;
    padding: 0px;
    border: none;
    background-color: rgba(0,0,0,0);
    resize: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: subpixel-antialiased;
    transition: font-weight 0.2s ease, font-size 0.1s ease;
}

.floating-box > textarea:active {
    outline: none;
}

.floating-box > textarea:focus {
    outline: none;
}

.uk-navbar-nav > li > a {
    color: white;
    min-height: 1em;
}

.navbar-selections {
    height: 100% !important;
}

.uk-navbar-nav > li > a :hover {
    color: lightgrey;
}

.uk-navbar-nav > li > a :active {
    color: #FF80AB;
}

#navBar {
    height: 3em;
}

/* Merged from codeanywhere */
.uk-navbar-container.non-select {
    background-color: #78909C;
    box-shadow: 0em 0.5em 0.5em rgba(0, 0, 0, 0.1);
}

.material-icons {
    color: white;
    margin-left: 0.3em;
    margin-right: 0.3em;
    width: 1em;
    transition: color 0.1s ease;
}

.material-icons:active {
    color: #FF80AB;
}

.material-icons.toggled {
    color: #FF80AB;
}

.material-icons.toggled:hover {
    color: rgb(195, 97, 130);
}

.material-icons:hover {
    color: lightgrey;
}

.uk-navbar-nav > li {
    display: flex;
    align-items: center;
}

.color-pallete {
    width: 340px;
}

.color-button {
    height: 40px;
    width: 15px;
    margin: 0.3em;
}

.non-select {
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none; -o-user-select:none;
}

.select {
    -moz-user-select: text; -webkit-user-select: text; -ms-user-select:text; user-select:text; -o-user-select:text;
}
