.material-icons {
    color: white;
    margin-left: 0.3em;
    margin-right: 0.3em;
    width: 1em;
    transition: color 0.3s ease;
    transition: text-shadow 0.3s ease;
    cursor: default;
}

.material-icons:active {
    color: #ff80ab;
}

.material-icons.toggled {
    color: #ff80ab;
}

.material-icons:hover {
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4)
}