.uk-navbar-nav>li>a {
  color: white;
  min-height: 1em;
}

.navbar-selections {
  height: 100% !important;
}

.uk-navbar-nav>li>a :hover {
  color: rgba(255, 255, 255, 0.8);
}

.uk-navbar-nav>li>a :active {
  color: #FF80AB;
}

#navBar {
  height: 3em;
  background-color: #78909C;
  box-shadow: 0 0 1.0em rgba(0, 0, 0, 0.2);
  -webkit-app-region: drag;
}

.uk-navbar-nav>li>a {
  margin: 0;
  padding: 0px;
}

.uk-navbar-nav>li {
  display: flex;
  align-items: center;
  height: 100%;
  -webkit-app-region: no-drag;
}

#colorpicker {
  background-color: transparent;
}